.about {
	.about-content {
		.about-img {
			width: 18rem;
			border: 2.5px solid $primary;
		}
	}
}

.profile {
	.progress-label {
		font-family: $secondary-font;
	}
	.progress {
		height: 2rem;

		.progress-bar {
			font-family: $secondary-font;
			//width: 90% !important;
			font-weight: bold;
		}
	}
}
